/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,

table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* @import url(//fonts.googleapis.com/earlyaccess/notosanstc.css); */


* {
  box-sizing: border-box;
  /* outline: 1px solid orange; */
  line-height: 1.2;
}

a {
  text-decoration: None;
  color: black;
  display: block;
}

body {
  font-family: 'Noto Sans TC', sans-serif;
  margin: 0 auto;
  background: black;
  color: white;
}

img {
  max-width: 100%;
  height: auto;
}

/*區塊及一些調整*/
.menu-top {
  display: none;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

.container-2 {
  max-width: 1920px;
  margin: 78px auto 0;
  background: black;
  color: white;
}

.container-3 {
  max-width: 1296px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

.header {
  max-width: 1296px;
  align-items: center;
  margin: 0 auto;
  border-bottom: 1px solid white;
}

.header a:hover {
  color: #d3d3d3;
}

.logo a {
  height: 40px;
}

.banner {
  max-width: 1296px;
  margin: 0 auto;
}

.banner h2 {
  width: 100%;
}

.service {
  max-width: 1296px;
  margin: 0 auto;
}

.adv {
  width: 31.9%;
  border: 1px solid #525252;
  border-radius: 16px;
}

.adv h2 {
  width: 80.7%;
}

.service-block-2 {
  width: 66%;
}

.title-tool {
  margin: 0 auto;
  text-align: center;
  max-width: 1296px;
}

.banner-price {
  max-width: 1296px;
  margin: 40px auto 258px;
}

.banner-price-1 {
  width: 100%;
}

.banner-price-2 {
  width: 49%;
}

.partner img {
  width: 160px;
  height: 40px;
  max-width: initial;
}

.partner {
  max-width: 1296px;
  margin: 160px auto 0px;
}

.shadow::after, .shadow::before {
  content: "";
  position: sticky;
  width: 196px;
  height: 40px;
  top: 0;
}

.shadow {
  display: flex;
  justify-content: center;
  overflow-x: auto;
  position: relative;
}

.shadow::before {
  left: 0;
  padding-right: 196px;
  background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0.991615) 11.79%, rgba(0, 0, 0, 0.967585) 21.38%, rgba(0, 0, 0, 0.9296) 29.12%, rgba(0, 0, 0, 0.879348) 35.34%, rgba(0, 0, 0, 0.818519) 40.37%, rgba(0, 0, 0, 0.7488) 44.56%, rgba(0, 0, 0, 0.671881) 48.24%, rgba(0, 0, 0, 0.589452) 51.76%, rgba(0, 0, 0, 0.5032) 55.44%, rgba(0, 0, 0, 0.414815) 59.63%, rgba(0, 0, 0, 0.325985) 64.66%, rgba(0, 0, 0, 0.2384) 70.88%, rgba(0, 0, 0, 0.153748) 78.62%, rgba(0, 0, 0, 0.0737185) 88.21%, rgba(0, 0, 0, 0) 100%);
}

.shadow::after {
  right: 0;
  padding-left: 196px;
  background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0.991615) 11.79%, rgba(0, 0, 0, 0.967585) 21.38%, rgba(0, 0, 0, 0.9296) 29.12%, rgba(0, 0, 0, 0.879348) 35.34%, rgba(0, 0, 0, 0.818519) 40.37%, rgba(0, 0, 0, 0.7488) 44.56%, rgba(0, 0, 0, 0.671881) 48.24%, rgba(0, 0, 0, 0.589452) 51.76%, rgba(0, 0, 0, 0.5032) 55.44%, rgba(0, 0, 0, 0.414815) 59.63%, rgba(0, 0, 0, 0.325985) 64.66%, rgba(0, 0, 0, 0.2384) 70.88%, rgba(0, 0, 0, 0.153748) 78.62%, rgba(0, 0, 0, 0.0737185) 88.21%, rgba(0, 0, 0, 0) 100%);
  transform: rotate(-180deg);
}

.partner ul:nth-child(2) {
  margin: 0px auto 0px;
  overflow-x: auto;
  display: flex;
}

.partner ul:nth-child(3) {
  margin: 0px auto 160px;
  overflow-x: auto;
  display: flex;
}

.partner li {
  width: 14%;
}

.partner .head-img-list {
  width: 8%;
}

.recommend-box {
  /* max-width: 1296px; */
  margin: 0 auto;
}

.recommend {
  border-radius: 16px;
  width: 32%;
}

.bg-white {
  width: 100%;
  background: white;
  color: black;
  border-radius: 160px;
  padding-bottom: 162px;
}

.middle {
  margin: 0 auto;
  max-width: 1296px;
  position: relative;
  width: calc(100% - 20px);
  z-index: 0;
}

.main-title, .main-text {
  width: 85%;
}

.callToAction {
  max-width: 1296px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 80px;
  margin: 0 auto;
}

.callToAction h2 {
  text-align: center;
  font-size: 48px;
}


.callToAction a {
  padding: 20px 40px;
  border-radius: 16px;
  border: 1px solid white;
}

.callToAction a:hover {
  background: gray;
  color: white;
}

.sitemap {
  max-width: 1296px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

.sitemap a {
  display: block;
}

.sitemap a:hover {
  color: gray;
}

.logo img {
  width: 189px;
  height: 40px;
}

.logo {
  height: 40px;
}

.footer {
  max-width: 1296px;
  margin: 0 auto;
  display: flex;
}

.footer a:hover {
  color: gray;
}

.backToTop a {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.price-list {
  width: calc(50% - 24px);
  outline: 1px solid #525252;
  border-radius: 16px;
  overflow: hidden;
  cursor: pointer;
}

.price-list:hover {
  outline: 2px solid white;
}

.copyright {
  margin-left: 10px;
}

.backToTop {
  margin-right: 10px;
}

.container-4 {
  overflow: auto;
  margin-bottom: 24px;
  max-width: 1296px;
  margin: 0 auto;
}

.token-bar {
  width: 100%;
  outline: 1px solid #525252;
}

.token-bar a:hover {
  color: gray;
}

.token-price span {
  color: #919191;
  font-weight: 400;
}

.rules>p {
  margin-bottom: 24px;
}

.rules h3 {
  margin-top: 40px;
  margin-bottom: 24px;
}

.rules ul p {
  padding-bottom: 40px;
  border-bottom: 1px solid white;
}

.q-a {
  width: 66%;
}

.q-a li {
  border: 1px solid #525252;
  border-radius: 16px;
  cursor: pointer;
  padding-right: 20px;
}

.q-a li:hover {
  border: 2px solid white;
}

.ans1, .ans2, .ans3, .ans4, .ans5 {
  display: none;
  font-size: 20px;
  font-weight: normal;
  margin-left: 84px;
  margin-right: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.price-list a {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 1.5;
}

#downlist {
  margin-top: 0;
  margin-left: 88%;
  border-radius: 0;
}

.selection-bar {
  white-space: nowrap;
}

.menu-top-close {
  display: none;
  cursor: pointer;
}


/*元件*/
.blackbox1 {
  background: linear-gradient(to right, #000 20%, transparent 100%);
  width: 15%;
  height: 91px;
  position: absolute;
  left: 0;
}

.blackbox2 {
  /*Sandy*/
  background: linear-gradient(to left, #000 60%, transparent 100%);
  width: 15%;
  height: 91px;
  position: absolute;
  right: 0;
}

.list-circle {
  list-style: disc;
}

.btn {
  display: block;
  border-radius: 16px;
  width: 160px;
  outline: 1px solid white;
  padding: 20px 40px;
  padding-bottom: 20px;
}

.btn-white {
  color: white;
}

.btn:hover {
  color: black;
  background: white
}

.search {
  width: calc(100% - 30px);
  height: 64px;
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2023web-camp/icons/search.png?raw=true);
  background-size: 24px 24px;
  background-color: #F2F2F2;
  background-repeat: no-repeat;
  background-position: 40px, 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: none;
  border-radius: 16px;
  padding-left: 76px;
  margin-left: 15px;
}

.box-select {
  display: block;
  text-align: center;
  border-radius: 16px;
  width: 164px;
  height: 64px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #F2F2F2;
  cursor: pointer;
}

.unselected {
  color: #919191;
  border-radius: 16px;
  width: 64px;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
  cursor: pointer;
}

.unselected:hover {
  color: black;
}

.selected {
  color: black;
  cursor: default;
  background: #F2F2F2;
  border-radius: 16px;
  width: 64px;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
}

.selected-pagination {
  cursor: default;
  background: black;
  color: white;
  border-radius: 16px;
  width: 64px;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
}
.unselected-pagination {
  cursor: pointer;
}

.material-icons:hover, .tools-tag-1:hover {
  color: gray;
}

.tools {
  width: 32%;
  border-radius: 16px;
  overflow: hidden;
  outline: 1px solid #F2F2F2;
  cursor: pointer;
}

.tools:hover {
  outline: 3px solid #8E8E8E;
}

.tools:hover .img {
  transform: scale(1.22);
  transition: 600ms;
}

.box-bg {
  background: #FFFFFF14;
  box-shadow: 0px 100px 80px rgba(18, 18, 18, 0.07), 0px 41.7776px 33.4221px rgba(18, 18, 18, 0.0503198), 0px 22.3363px 17.869px rgba(18, 18, 18, 0.0417275), 0px 12.5216px 10.0172px rgba(18, 18, 18, 0.035), 0px 6.6501px 5.32008px rgba(18, 18, 18, 0.0282725), 0px 2.76726px 2.21381px rgba(18, 18, 18, 0.0196802);
}

.star-icon {
  width: 96px;
}

.box-weight {
  width: 100%;
  margin-bottom: 20px;
}

.head {
  width: 48px;
  height: 48px;
}


.middle-bar {
  width: 100%;
  position: relative;
  z-index: 0;
}

.pagination li {
  text-align: center;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 4px;
  margin-right: 4px;
}

.pagination a {
  padding: 16px;
}

.pagination a:hover {
  color: #696969;
  font-size: 20px;
}

.material-symbols-outlined {
  display: block;
}

.material-symbols-outlined:hover {
  cursor: pointer;
}


.dot {
  justify-content: center;
  align-items: center;
}

.dot-1 {
  display: none;
  background-color: white;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 4px;
}

.dot-2 {
  display: none;
  background-color: gray;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-left: 4px;
  margin-right: 4px;
}

.dot-3 {
  display: none;
  background-color: gray;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-left: 4px;
}

/*相關連設定*/
.tools-list {
  width: 100%;
  position: relative;
  z-index: -1;
}

.date-sort-drop {
  position: absolute;
  width: 144px;
  height: 96px;
  top: 64px;
  right: 0px;
  justify-content: space-evenly;
  z-index: 1; 
}


.img {
  display: block;
  width: 100%;
  height: 100%;
}

.img-container {
  width: 416px;
  height: 312px;
  /* width: 100%; */
  /* height: auto; */
  overflow: hidden;
}


/*動畫*/
.animation img {
  display: block;
}

.animation-2 {
  width: 100%;
}

.ani1 {
  position: relative;
  animation: grass-animation 8s infinite;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}

.ani2 {
  position: relative;
  animation: grass-animation 8s 0.5s infinite;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}

.ani3 {
  position: relative;
  animation: grass-animation 8s 1s infinite;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}

@keyframes grass-animation {
  from {
    top: 200px;
  }

  60% {
    top: 0px;
  }

  80% {
    top: 0px;
  }

  to {
    top: -1000px;
  }
}

.ani1 {
  position: relative;
}

.ani2 {
  position: relative;
}

.ani3 {
  position: relative;
}

.img-box {
  height: 180px;
  width: 100%;
  overflow: hidden;
}

.logo-img {
  display: block;
  height: auto;
  margin-right: 20px;
}

/*合作夥伴圖片位置調整*/
.partner .special {
  display: block;
  margin-right: 50%;
  height: auto;
  width: 80px;
  height: 40px;
}

.partner .special-2 {
  display: block;
  margin-left: 40%;
}

/*樣式*/
.updown {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 572px;
}

.updown-1 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.gp24 {
  gap: 24px;
}

.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

.fdc {
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.aic {
  align-items: center;
}

.aifs {
  align-items: flex-start;
}

.asfe {
  align-self: flex-end;
}

.jcsb {
  justify-content: space-between;
}

.jcend {
  justify-content: flex-end;
}

.jcc {
  justify-content: center;
}

.jcs {
  justify-content: start;
}

.font-6 {
  font-size: 120px;
}

.font-5 {
  font-size: 80px;
}

.font-4 {
  font-size: 48px;
}

.font-3 {
  font-size: 32px;
}

.font-2 {
  font-size: 20px;
}

.font-1 {
  font-size: 16px;
}

.font-0 {
  font-size: 14px;
}

.font-700 {
  font-weight: 700;
}

.font-900 {
  font-weight: 900;
}

.font-gray {
  color: #525252;
}

.font-white {
  color: white;
}

.lh-main-title {
  line-height: 1.2;
}

.lh {
  line-height: 1.5;
}

.mt20 {
  margin-top: 20px;
}

.mt40 {
  margin-top: 40px;
}

.mt80 {
  margin-top: 80px;
}

.mt160 {
  margin-top: 160px;
}

.mb12 {
  margin-bottom: 12px;
}

.mb16 {
  margin-bottom: 16px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb24 {
  margin-bottom: 24px;
}

.mb40 {
  margin-bottom: 40px;
}

.mb80 {
  margin-bottom: 80px;
}

.mb100 {
  margin-bottom: 100px;
}

.mb160 {
  margin-bottom: 160px;
}

.mb136 {
  margin-bottom: 136px;
}

.mb238 {
  margin-bottom: 238px;
}

.mb254 {
  margin-bottom: 254px;
}

.ml24 {
  margin-left: 24px;
}

.ml32 {
  margin-left: 32px;
}

.ml40 {
  margin-left: 40px;
}

.ml48 {
  margin-left: 48px;
}

.mr16 {
  margin-right: 16px;
}

.mr20 {
  margin-right: 20px;
}

.mr32 {
  margin-right: 32px;
}

.mr40 {
  margin-right: 40px;
}

.mr100 {
  margin-right: 100px;
}

.pt160 {
  padding-top: 160px;
}

.pb160 {
  padding-bottom: 160px;
}

.pr10 {
  padding-right: 10px;
}

.pr20 {
  padding-right: 20px;
}

.pl10 {
  padding-left: 10px;
}

.padding-1 {
  padding: 20px;
}

.padding-2 {
  padding: 20px 32px;
}

.padding-3 {
  padding-top: 32px;
  padding-bottom: 32px;
}

.padding-4 {
  padding: 20px;
}

/* for Chrome, Safari and Opera */
.selection-bar::-webkit-scrollbar, .container-4::-webkit-scrollbar, .partner ul::-webkit-scrollbar {
  display: none;
}

/* for IE, Edge and Firefox */
.selection-bar, .container-4, .partner ul {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.outline {
  outline: 1px solid #F2F2F2
}

/*響應式*/
@media (max-width: 1296px) {
  .title-tool {
    max-width: 969px;
  }
}

@media (max-width: 1155px) { /*圖片調節斷點，假設圖片長寬不同的方式*/
  .img {
    transform: translateX(-8%);
  }
}

@media (max-width: 1022px) { /*圖片調節斷點，假設圖片長寬不同的方式*/
  .img {
    transform: translateX(-12%);
  }
}

@media (max-width: 952px) {
  .partner h2 {
    margin-bottom: 24px;
  }
  .partner ul:nth-child(3) {
    margin: 0px auto 48px;
    overflow-x: auto;
    display: flex;
  }
  .dot {
    margin-bottom: 120px;
  }
  .container-4 {
    margin-bottom: 24px;
  }
  .recommend-box {
    width: 300%;
    justify-content: flex-start;
  }

  .recommend {
    width: 33.3%;
  }

  .box-weight {
    height: calc(80% - 40px);
  }

  .dot {
    display: flex;
  }

  .dot-1, .dot-2, .dot-3 {
    display: block;
  }
}

@media (max-width: 936px) {

  .banner-price-1 {
    font-size: 48px;
  }

  .banner-price-2 {
    font-size: 28px;
  }

  .banner-price {
    margin-bottom: 258px;
  }

  .container-3 {
    max-width: 700px;
  }

  /*Cyrus*/ /*未使用，研究中*/
  .swiper {
    line-height: 24px;
    color: #FFFFFF;
    max-width: 375px;
    background: #020202;

    --swiper-pagination-color: #FFFFFF;
    --swiper-pagination-bullet-inactive-color: #525252;
    /*inactive點點顏色*/
    --swiper-pagination-bullet-size: 8px;
    --swiper-pagination-bullet-horizontal-gap: 8px;
    /*點點間距是8*/
  }

  .swiper-pagination {
    position: static;
  }

  .swiper-pagination-bullet-active {
    transform: scale(1.5);
    /*active點點間放大1.5倍*/
  }

  .swiper-wrapper {
    max-width: 351px;
  }

  .swiper-slide {
    max-width: 351px;
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 12px;
    background: #FFFFFF14;
    border-radius: 16px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .partner {
    overflow-x: hidden;
  }

  .partner li {
    width: 160px;
  }

  .partner .special {
    width: 100px;
  }

  .partner .head-img-list {
    width: 160px;
  }

  .first-image {
    width: 80px;
  }

  .logo-img {
    max-width: none;
    width: 160px;
  }

  .container {
    max-width: 700px;
  }


  .container-2 {
    margin-top: 0;
    margin-bottom: 0;
    max-width: 700px;
  }

  .animation-2 {
    margin-bottom: 120px;
  }

  .header {
    margin-bottom: 0;
  }

  .submenu {
    display: none;
  }

  .callToAction {
    margin-top: 80px;
  }

  .submenu2 {
    height: 584px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid white;
  }

  .submenu2 li {
    text-align: center;
    font-size: 80px;
    padding: 10px;
    line-height: 1.2;
  }

  .footer {
    flex-wrap: wrap;
  }

  .menu-top {
    display: block;
    height: 24px;
    width: 24px;
    cursor: pointer;
  }

  .header {
    width: 100%
  }

  .banner {
    width: 100%;
    margin-top: 40px;
  }

  .banner h2 {
    font-size: 48px;
    min-width: 350px;
  }

  .animation {
    width: 100%;
    height: 33%;
  }

  .img-box {
    height: 33%;
    overflow: hidden;
  }

  .ani1 {
    width: 33%;
    height: 33%;
  }

  .ani2 {
    width: 33%;
    height: 33%;
  }

  .ani3 {
    width: 33%;
    height: 33%;
  }

  .service {
    margin-top: 20px;
    width: 100%;
    flex-direction: column;
  }

  .service h2 {
    font-size: 20px;
    margin-bottom: 80px;
  }

  .service h3 {
    width: 100%;
    font-size: 32px;
    margin-left: 0px;
  }

  .adv {
    width: 100%;
  }

  .adv img {
    margin-left: 20px;
    margin-bottom: 20px;
  }


  .adv h2 {
    width: calc(100% -20px);
    margin-left: 20px;
    margin-bottom: 20px;
  }

  .adv p {
    margin-left: 20px;
  }

  .recommend-box {
    overflow-x: auto;
  }

  .card-person {
    width: 100%;
  }

  .recommend {
    width: 100%;
  }

  .tools-list {
    align-items: center;
  }

  .tools {
    margin-top: 48px;
    width: 48%;
  }

  .search {
    width: calc(100% - 50px);
  }

  .img-container {
    width: 100%;
  }

  .middle-bar {
    flex-wrap: wrap;
  }

  .pagination {
    width: 100%;
  }

  .footer {
    width: 100%;
  }

  .footer-inner {
    width: 70%;
  }

  .unselected {
    width: 13%;
  }

  .selected {
    width: 13%;
  }

  .callToAction {
    padding: 0;
    margin-bottom: 100px;
  }

  .callToAction h2 {
    font-size: 32px;
    margin-bottom: 32px;
  }

  .title-tool {
    font-size: 44px;
  }

  .selection-bar {
    width: 55%;
  }

  .selection-bar li {
    width: 100%;
  }

  .selection-bar a {
    width: 100%;
  }

  .tools img {
    max-width: 100%;
    height: auto;
    transform: translateX(0);
  }

  /* .img-container {
    height: auto;
  } */
}

@media (max-width: 831px) {
  .tools-list {
    flex-direction: column;
  }

  .tools {
    width: 93.6%;
  }
}

@media (max-width: 767px) {
  .adv h2 {
    margin-left: 20px;
    margin-bottom: 20px;
  }

  .selected {
    width: 100%;
  }

  .backToTop a {
    justify-content: flex-start;
  }

  .title-tool {
    font-size: 36px;
    max-width: none;
    min-width: 0px;
  }

  .selection-bar {
    order: 1;
    margin-top: 24px;
    width: 100%;
    overflow-x: auto;
  }

  .selection-bar li, .selection-bar a {
    width: 64px;
    margin-right: 8px;
  }

  .price-list {
    width: 100%;
    margin: 0 auto;
  }

  .price-info {
    margin-bottom: 120px;
    margin-top: 24px;
  }

  .rules {
    flex-direction: column;
    width: 90%;
    margin-bottom: 120px;
    padding-bottom: 0;
  }

  .rules h3 {
    margin-top: 24px;
  }

  .question-section {
    flex-direction: column;
    margin-bottom: 120px;
  }

  .question-section ul {
    width: 100%;
  }

  .q-container {
    width: 100%;
  }

  .question-section h2 {
    margin-bottom: 24px;
  }

  .sitemap {
    flex-direction: column;
  }

  .sitemap a {
    order: -1;
  }

  .map-list {
    margin-top: 40px;
  }
}

@media (max-width: 612px) {
  .title-tool {
    max-width: 442px;
    min-width: 439px;
    width: calc(90% - 30px);
  }
}

@media (max-width: 567px) {
  .footer ul {
    order: 1;
  }
}

@media (max-width: 481px) {
  .title-tool {
    min-width: 330px;
  }
}

@media (max-width: 414px) {
  .title-tool {
    max-width: 320px;
    min-width: 298px;
  }

  .container {
    max-width: 375px;
    padding-left: 12px;
    padding-right: 12px;
  }

  .menu-top {
    display: block;
  }

  .banner {
    margin-right: 12px;
    width: 96%;
    margin-bottom: 120px;
  }

  .banner h2 {
    margin: 0 auto;
    width: 95%;
    min-width: 0px;
  }

  .tools {
    margin-top: 48px;
    width: 100%;
  }

  .container-2 {
    padding-left: 12px;
    padding-right: 12px;
  }

  .sitemap li, .sitemap a {
    font-size: 48px;
  }

  .callToAction {
    margin-bottom: 160px;
  }
}

@media (max-width: 320px) {
  .title-tool {
    min-width: 0px;
    font-size: 20px;
  }
}