.updown {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 572px;
}

.updown-1 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.gp24 {
    gap: 24px;
}

.d-flex {
    display: flex;
}

.d-block {
    display: block;
}

.fdc {
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

.aic {
    align-items: center;
}

.aifs {
    align-items: flex-start;
}

.asfe {
    align-self: flex-end;
}

.jcsb {
    justify-content: space-between;
}

.jcend {
    justify-content: flex-end;
}

.jcc {
    justify-content: center;
}

.jcs {
    justify-content: start;
}

.font-6 {
    font-size: 120px;
}

.font-5 {
    font-size: 80px;
}

.font-4 {
    font-size: 48px;
}

.font-3 {
    font-size: 32px;
}

.font-2 {
    font-size: 20px;
}

.font-1 {
    font-size: 16px;
}

.font-0 {
    font-size: 14px;
}

.font-700 {
    font-weight: 700;
}

.font-900 {
    font-weight: 900;
}

.font-gray {
    color: #525252;
}

.font-white {
    color: white;
}

.lh-main-title {
    line-height: 1.2;
}

.lh {
    line-height: 1.5;
}

.mt20 {
    margin-top: 20px;
}

.mt40 {
    margin-top: 40px;
}

.mt80 {
    margin-top: 80px;
}

.mt160 {
    margin-top: 160px;
}

.mb12 {
    margin-bottom: 12px;
}

.mb16 {
    margin-bottom: 16px;
}

.mb20 {
    margin-bottom: 20px;
}

.mb24 {
    margin-bottom: 24px;
}

.mb40 {
    margin-bottom: 40px;
}

.mb80 {
    margin-bottom: 80px;
}

.mb100 {
    margin-bottom: 100px;
}

.mb160 {
    margin-bottom: 160px;
}

.mb136 {
    margin-bottom: 136px;
}

.mb238 {
    margin-bottom: 238px;
}

.mb254 {
    margin-bottom: 254px;
}

.ml24 {
    margin-left: 24px;
}

.ml32 {
    margin-left: 32px;
}

.ml40 {
    margin-left: 40px;
}

.ml48 {
    margin-left: 48px;
}

.pl12 {
    padding-left: 12px;
}

.mr16 {
    margin-right: 16px;
}

.mr20 {
    margin-right: 20px;
}

.mr32 {
    margin-right: 32px;
}

.mr40 {
    margin-right: 40px;
}

.mr100 {
    margin-right: 100px;
}

.pt160 {
    padding-top: 160px;
}

.pb160 {
    padding-bottom: 160px;
}

.pr10 {
    padding-right: 10px;
}

.pr20 {
    padding-right: 20px;
}

.pl10 {
    padding-left: 10px;
}

.padding-card {
    padding: 40px;
}

.padding-1 {
    padding: 20px;
}

.padding-2 {
    padding: 20px 32px;
}

.padding-3 {
    padding-top: 32px;
    padding-bottom: 32px;
}

.padding-4 {
    padding: 20px;
}

.outline {
    outline: 1px solid #F2F2F2
}

/* for Chrome, Safari and Opera */
.selection-bar::-webkit-scrollbar,
.container-cards::-webkit-scrollbar,
.partner ul::-webkit-scrollbar {
    display: none;
}

/* for IE, Edge and Firefox */
.selection-bar,
.container-cards,
.partner ul {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.swiper-container {
    overflow: hidden;
  }

.d-none {
    display: none;
  }
  
.d-block {
display: block;
}